@model Meeeedium.Models.Blog


@{
    ViewBag.Title = "Details";
}

   <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h4> @Html.DisplayFor(model => model.Title)</h4>
                <p class="post-heading">@Html.DisplayFor(model => model.Body)</p>
                <p class="post-meta"> Posted by @Html.DisplayFor(model => model.Owner.UserName) on @Html.DisplayFor(model => model.Created) </p>
                <p class="post-subtitle">
                    @Html.ActionLink("Back to Blogs", "Index", "Home", new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>
         