@{
    ViewBag.Title = "Index"; 
    }


   @using (Html.BeginForm())
   {   <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                    @Html.TextBox("Search", null, new { @class = "form-control" })
                    <input type="submit" value="Search" class="btn btn-primary navbar-btn" />
                    @Html.ActionLink("Clear Search", "Index", "Home", new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
   }
@using (Html.BeginForm())
{
    foreach (var blog in ViewBag.PublicBlogs)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        <a href=@Url.Action("Details", new { id = blog.Id })>
                            <h4 class="post-title">
                                @blog.Title
                            </h4>
                            </a>
                            <p class="post-subtitle"> @blog.TeaserText</p>
                        
                        <p class="post-meta"> Posted by @blog.Owner.UserName on @blog.Created </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    }
}

