@{
    ViewBag.Title = "Index";
}
<div class="intro-header" style="background-image: url('/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h4>Time to get started bloging.</h4>
                <p>Put your opinion out there.</p>
               @Html.ActionLink("Get Started", "Register", "Account",
                     new { id = "registerLink" }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    foreach (var blog in ViewBag.PublicBlogs)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        <a href=@Url.Action("Details", new { id = blog.Id })>
                            <h4 class="post-title">
                                @blog.Title
                            </h4>
                            <p class="post-subtitle"> @blog.TeaserText</p>
                        </a>
                        <p class="post-meta"> Posted by @blog.Owner.UserName on @blog.Created </p>
                        <hr>
                    </div>
                    </div>
            </div>
        </div>
    }
}

