
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mic's Blog</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                @Html.ActionLink("Create Blog", "Index", "Blog", new {@class = "navbar-brand" })
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-0">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Blog", "Index", "Blog")
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>

    </nav>
    <div class="intro-header" style="background-image: url('/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h4 class="textColor1">Put your opinion out there.</h4>
                        @Html.ActionLink("Get Started", "Register", "Account",
                     new { id = "registerLink" }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>

        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            <div id="RightColumn" style="float: right; width: 20%;">
            <div class="row profile">
                <div class="col-md-1">
                    <div class="profile-sidebar">
                        <div class="profile-userpic">
                            <img src="http://weknowyourdreams.com/images/rabbit/rabbit-02.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @Html.ActionLink(User.Identity.GetUserName() + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </div>
                        <div class="profile-usertitle-job">
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </div>
                    </div>

                    <div class="profile-userbuttons">
                        @Html.ActionLink("Blog","Index","Blog", null, new { @class = "btn btn-primary btn-sm" })
                        <button type="button" class="btn btn-primary btn-sm">Messages</button>
                    </div>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Account Settings
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Tasks
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Help
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        }

        @RenderBody()


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Manderson566">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Mic Website 2016</p>
                    </div>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
</body>
</html>